<h1><%= @menu.name %></h1>

<%= link_to 'Edit Menu', edit_restaurant_menu_path(@restaurant, @menu) %>
<%= link_to 'Delete Menu', [@restaurant, @menu], method: :delete, data: { confirm: 'Are you sure?' } %>

<h2>Items</h2>

<ul>
  <% @menu.items.each do |item| %>
    <li><%= link_to item.name, menu_item_path(@menu, item) %></li>
  <% end %>
</ul>

<%= link_to 'Add New Item', new_menu_item_path(@menu) %>
